<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create user</a>
    </div>
    <div class="form">
      <form action="/delete-user" method="POST">
        <fieldset>
          <legend>Delete a User</legend>
          <div class="input-group">
            <label for="idUser">ID:</label>
            <input type="text" name="idUser" id="" value="<%= userEdit.id %>" readonly />
          </div>

          <div class="input-group">
            <label for="email">Email:</label>
            <input type="text" name="email" id="" value="<%= userEdit.email %>" readonly />
          </div>

          <button type="submit">Confirm</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
