<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    Hello World EJS
    <h1>Tap trung</h1>
    <h2>Tap trung</h2>
    <div>
      <img class="thumbnail" src="/images/image.jpg" alt="Hinh anh" />
    </div>
  </body>
</html>
